<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="shortcut icon" href="/img/logo2.png" />
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <style>
        body {
            font-family: 'Poppins' !important;
        }
    </style>
    {{#if estilosLogin}}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
    <link rel="stylesheet" href="./css/float-labels.css">
    <style>
        body,
        html {
            overflow: hidden;
            /* Para evitar barras de desplazamiento */
        }

        .field-icon {
            float: right;
            margin-left: -20px;
            margin-right: 10px;
            margin-top: -30px;
            position: relative;
            z-index: 2;
            cursor: pointer;
            color: #000000;
        }

        #binary-canvas {
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
            backdrop-filter: blur(10px);
            /* Aplica un desenfoque al contenido detrás del canvas */
            background-color: rgba(255, 255, 255, 0.5);
            /* Fondo semitransparente para aplicar el efecto de desenfoque */
        }
    </style>
    {{/if}}
    <title>{{ titulo }}</title>
</head>

<body>
    {{{ body }}}
    {{#if estilosLogin}}
    <script src="./js/fondo.js"></script>
    <script src="./js/jquery.min.3.3.1.js"></script>
    <script>
        $(".toggle-password").click(function () { $(this).toggleClass("fa-eye fa-eye-slash"); var t = $($(this).attr("toggle")); "password" == t.attr("type") ? t.attr("type", "text") : t.attr("type", "password") }), $(document).on("auxclick", "a", function (t) { return 2 !== t.which || (t.preventDefault(), t.stopPropagation(), t.stopImmediatePropagation(), !1) });
    </script>
    {{/if}}
</body>

</html>